#actions {
	background-color: rgba(255, 255, 255, 0.16);
	display: flex;
	padding: 1rem;
	border-radius: 10rem;
	width: 65%;
}

.action {
	background-color: #ffffff;
	display: flex;
	margin-right: 1rem;
	padding: 1rem;
	border-radius: 10rem;
	cursor: pointer;
}

.action_title {
	font-size: 1.5rem;
	font-family: "League Spartan", sans-serif;
}

.action_desc {
	font-family: "League Spartan", sans-serif;
	color: #000000;
	opacity: 0.21;
	font-size: 1.5rem;
}

.action_icon {
	display: flex;
	justify-content: center;
	align-items:  center;
	font-size: 3rem;
}

#search {
	color: #ffffff;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
