#navbar {
	display: flex;
}

#company {
	font-size: 4rem;
	font-weight: bold;
	color: #ffffff;
	font-family: "League Spartan", sans-serif;
	flex: 1 1;
}

.icon {
	color: #ffffff;
	font-size: 3rem;
	margin-left: .5rem;
}

#actions {
	align-self: flex-end;
}
