#navbar {
	height: 15%;
	display: flex;
}

#company {
	font-size: 2rem;
	font-weight: bold;
	color: #ffffff;
	font-family: "League Spartan", sans-serif;
	flex: 1 1;
}

.icon {
	color: #ffffff;
}

#actions {
	align-self: flex-end;
}
