#customer_service {
	display: flex;
	background-color: #d9d9d9;
}

#reviews_container {
	padding: 4rem;
}

#title {
	font-family: "League Spartan", sans-serif;
	text-align: center;
	font-size: 4rem;
	color: #ffffff;
	padding: 0 0 4rem 0;
}

#title_Service {
	color: #040222;
}

#review_tabs {
	display: flex;
}

.review_tab {
	flex: 1 1;
	text-align: center;
	font-family: "League Spartan", sans-serif;
	border-bottom: 1px black solid;
	padding: 2rem;
	font-size: 1.5rem;
}

.review {
	background-color: #bebebe;
	padding: 2rem;
	margin: 2rem 0 2rem 0;
}

#mascot_container {
	flex: 1 1;
}
