#features {
	background-color: #040222;
	display: flex;
	padding: 4rem;
}

.feature_container {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature_desc {
	color: #ffffff;
	text-align: center;
	font-family: "League Spartans", sans-serif;
	width: 70%;
}

.feature_icon {
	aspect-ratio: 1 / 1;
	height: 45%;
	display: block;
	padding-bottom: 10%;
}
